* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #f8f9fa;
}

.container {
    width: 100%;
    margin: auto;
}

.container-flex {
    max-width: 1024px;
    display: flex;
    align-items: center;
    margin-left: auto;
}

.container h3 {
    padding-top: 36px;
    font-size: 16px;
}

.container h2 {
    padding-top: 0;
    margin-bottom: 16px;
    border-bottom: 1px solid #3667D5;
    padding-bottom:32px;
    color: #3667D5;
    font-style: italic;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3667D5;
    color: #fff;
    font-weight: 400;
    padding: 16px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 56px;
    font-style: italic;

}


nav li {
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    text-transform: uppercase;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-size: 14px;
}

/* -------------- section loja ----------- */

#sobre-a-loja{
    margin-top: 56px;
}

.mr-0{
    margin-top: 0px;
}
.container>main{
    margin-top: 56px;
    margin-bottom: 32px;   
}

.sobre-loja {
    display: flex;
}

.noticias h2 {
    margin: 32px 0;
}

.sobre-loja img {
    max-width: 100%;
    margin-right: 32px;
}


/* -------------- Produtos ----------- */
.container-produto{
    max-width: 1024px;
    margin-top: 56px;
}

.lista-tenis {
    list-style: none;
    align-items: center;
    margin: auto;
}

.lista-tenis li {
    max-width: 25%;
    display: block;
    margin-bottom: 20px;
}

.lista-tenis img {
    max-width: 100%;
    height: auto;
    margin-top: 8px;
    margin-left: 13px;
}

.lista-tenis h3 {
    text-align: center;
    font-size: 18px;
    margin: 0;
}

.lista-tenis p {
    text-align: center;
    font-size: 14px;
    margin: 10px 0;
}

.lista-tenis .price {
    text-align: center;
    font-size: 16px;
}

.button-carrinho {
    max-width: 100%;
    margin-top: 8px;
    margin-left: 35px;
    margin-bottom: 16px;
    font-weight: 600;
    background-color: #094b92;
    border-radius: 5px;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-carrinho:hover {
    background-color: #0056b3;
}